body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10;
    padding: 10;
    width: 1000px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;

}

main {
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.logo{
   
    height: 550px;
    width: 775px;
    position: absolute;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, select, button {
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
